<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @course.desc %>
</p>

<p>
  <strong>Logo file name:</strong>
  <%= @course.logo_file_name %>
</p>

<p>
  <strong>Logo file size:</strong>
  <%= @course.logo_file_size %>
</p>

<p>
  <strong>Logo content type:</strong>
  <%= @course.logo_content_type %>
</p>

<p>
  <strong>Logo updated at:</strong>
  <%= @course.logo_updated_at %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
