<% meta title: @course.name %>
<% meta description: @course.desc %>
<% meta og: {image: @course.logo.url} %>
<% meta twitter: {card: "summary",  site: "@BitCodeAR" }%>

<style media="screen">
  .course-header {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(<%= @course.cover.url %>);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  50% 30%;
  }
</style>

<div class="course-header">
  <div class="container">
    <div class="col-sm-12">
      <h1>
        <%= @course.name %>
        <% if @course.coming_soon? %>
          <small><%= t('courses.coming_soon') %></small>
        <% end %>
      </h1>
      <p><%= @course.desc %></p>
      <% if current_user %>
        <br>

        <a href="#" id="remove_from_courses" style="<%= !@user_course ? 'display:none' : '' %>" onclick="removeFromMyCourses(<%= @course.id %>)" class="btn btn-lg btn-success">
          <span class="glyphicon glyphicon-check"></span>&nbsp;أحذف من دوراتي
        </a>

        <a href="#" id="add_to_courses" style="<%= @user_course ? 'display:none' : '' %>" onclick="addToMyCourses(<%= @course.id %>)" class="btn btn-lg btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>&nbsp;أضف إلى دوراتي
        </a>

        <script>
          function addToMyCourses (course_id) {
            $.ajax({
              url: '/courses/' + course_id + '/add_to_courses',
              type: 'POST',
              success: function( data ) {
                if (data.success) {
                  $('#add_to_courses').hide();
                  $('#remove_from_courses').show();
                }
              }
            });
          }
          function removeFromMyCourses (course_id) {
            $.ajax({
              url: '/courses/' + course_id + '/remove_from_courses',
              type: 'DELETE',
              success: function(data) {
                if (data.success) {
                  $('#remove_from_courses').hide();
                  $('#add_to_courses').show();
                }
              }
            });
          }
        </script>

      <% end %>
    </div>
  </div>
</div>

<% if !@course.coming_soon? %>
  <div class="container chapters-info">
    <%= render 'chapters/index' %>
  </div>
<% end %>

<%= render 'layouts/footer' %>
