<style media="screen">
  .course-header {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(<%= @course.cover.url %>);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  50% 30%;

  }
</style>

<div class=course-header>
  <div class="container">
    <div class="col-sm-12">
      <h2>  <%= @course.name %> <h2>
      <h4>  <%= @course.desc %> </h4>
    </div>
  </div>
</div>

<div class="container chapters-info">
  <%= render 'chapters/index' %>
</div>

<%= render 'layouts/footer' %>
