<div class="container">
  <h1>
    <%= @chapter.title %>
    <small>
      <%= link_to t('challenges.see_challenges'), course_chapter_challenges_path(params[:course_id], params[:id]) %>
    </small>
  </h1>
  <p>
    <%= @chapter.desc %>
  </p>

  <div class="video-container">
    <video width="60%" controls>
      <source src="<%= @chapter.video.url %>" type="video/mp4">
      <source src="<%= @chapter.video.url %>" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>