<meta name="fragment" content="!">
<% meta title: @chapter.course.name + " - " + @chapter.title + " - " + "التحديات" %>
<% meta description:"{{ challenge.desc }}" %>
<% meta og: {image: @chapter.course.logo.url} %>
<% meta twitter: {card: "summary",  site: "@BitCodeAR" }%>

<% content_for :head_tags do %>
  <%= stylesheet_link_tag    'angular/angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular/angular', 'data-turbolinks-track' => true %>
<% end %>

<% if cannot? :show, @chapter%>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">سيكون عليك التسجيل أولاً</h4>
      </div>
      <div class="modal-body">
        <div class="row signin-form">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2><%= t('account.login') %></h2>
            <%= render 'devise/sessions/new' %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <% end %>

<div class="container-fluid challenges-container" ng-app="bitCodeApp" ng-controller="ChallengesCtrl">
  <div class="row challenges-content">
    <div class="col-sm-4 col-xs-12">
      <ul class="challenges-list">
        <li ng-repeat="challenge in challenges" class="challenge_item" ng-class="{'active': selectedChallenge == challenge}">
          <a href="#" ng-click="selectChallenge(challenge)">
            <span class="label label-success" alt="hint" ng-click="getHint(challenge)">مساعدة ({{challenge.hints_number}})</span>
            <h3>{{ challenge.name }}</h3>
            <p>{{ challenge.desc }}</p>
            <ul class="hints" ng-if="challenge.queriedHints">
              <li ng-repeat="hint in challenge.queriedHints">
                {{hint.desc}}
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="code-container">
        <tabset>
          <tab ng-repeat="tab in selectedChallenge.tabs" heading="{{tab.name}}">
            <div ui-ace="{
              useWrapMode : true,
              theme: 'vibrant_ink',
              mode: '{{ tab.language_name }}',
              onLoad: aceLoaded,
            }" ng-model="tab.starter_code"></div>
          </tab>
        </tabset>
      </div>
      <div class="code-iframe">
      <iframe frameborder="0" code="getFinalCodeFor(selectedChallenge)" result_iframe data="{{selectedChallenge.styles}}" result="styles_result"></iframe>
      <!-- <div class="compiled-code" compile="getFinalCodeFor(selectedChallenge)"></div> -->
      </div>
    </div>
  </div>
  <div class="row check-validation">
    <div class="col-xs-9 info">
      <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
      <%= t('challenges.check_validate_note') %>
    </div>

    <div class="col xs-3">
      <a href="#" class="pull-left btn btn-danger" ng-click="checkValidate({
        name: '<%= request_forgery_protection_token.to_s %>',
        value: '<%= form_authenticity_token %>'
      })">
        <%= t('challenges.check_validate') %>
      </a>
  </div>
</div>


<input type="hidden" id="refresh" value="no">
<script>


  $(document).ready(function(e) {

      $("#myModal").modal({
          show: true,
          backdrop: 'static'
      });

    if ($("#refresh").val() == 'yes') {
      $('#refresh').val('no');
      location.reload();
    }
    else {
      $('#refresh').val('yes');
    }
  });
</script>
