<% content_for :head_tags do %>
  <%= stylesheet_link_tag    'angular/angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular/angular', 'data-turbolinks-track' => true %>
<% end %>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1><%= t('challenges.list') %></h1>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <% @challenges.each do |challenge| %>
        <%= challenge.name %>
        <%= challenge.desc %>
      <% end %>
    </div>
    <div class="col-sm-3 col-xs-12">
      OUTPUT HERE
    </div>
    <div class="col-sm-5 col-xs-12">
      CODE HERE
    </div>
  </div>
</div>