<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @challenge.desc %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @challenge.chapter_id %>
</p>

<div id="editor">
</div>

<div id="view2">
  <iframe id="frame" srcdoc="<h4>Hello, World!</h4>" sandbox ></iframe>
</div>

<%= form_for :challenges, remote:true, html: {id: "formcode2"}  do |f| %>
  <p>
    <%= hidden_field_tag :text  %>
  </p>

  <p>
    <%= f.submit "إرسال"%>
  </p>
<% end %>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setValue("<h4>Hello, World!</h4>");
  editor.setTheme("ace/theme/vibrant_ink");
  editor.getSession().setMode("ace/mode/html");
  document.getElementById('text').value = "<h4>Hello, World!</h4>";
  editor.getSession().on('change', function(e) {
    var code = editor.getValue();
    $("#frame").attr("srcdoc", code);
    document.getElementById('text').value = code;

  });
      </script>
</div>
<script charset="utf-8">
</script>

<%= link_to 'Back', course_chapter_challenges_path(params[:course_id], params[:chapter_id]) %>
