<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 links_footer">
        <ul>
<<<<<<< HEAD
         <li> <a href="http://bit-code.net/courses">الكورسات</a></li>
=======
         <li> <a href="#"><%= t 'courses.plural' %></a></li>
>>>>>>> da7f1812d375e56901a216e31362858037b0ca43
         <li> <a href="#">عن الموقع</a></li>
         <li> <a href="http://bit-code.tumblr.com/">المدونة</a></li>
         <li> <a href="#">اتصل بنا</a></li>
       </ul>
      </div>

      <div class="col-md-6 social-footer">
        <h5>تابعنا على:</h5>
             <ul>
               <li> <a href="https://twitter.com/BitCodeAR"><%= image_tag "social-media-icon/tw.png", class: "sm-footer" %></a></li>
               <li> <a href="https://facebook.com/BitCodeAR"><%= image_tag "social-media-icon/fb.png", class: "sm-footer" %></a></li>
               <li> <a href="https://www.youtube.com/channel/UCe2UbCAARD1ftAIbSsVhaYg"><%= image_tag "social-media-icon/yt.png", class: "sm-footer" %></a></li>
             </ul>
      </div>
      <div class="col-md-4 info-footer">
          <p>
            في BitCode ستقوم بتعلم المهارات الأساسية التي تحتاجها لتنطلق في عالم تطوير الويب، بطريقة تفاعلية وباللغة العربية!
            <h6>Powered By:</h6>
          </p>
            <div class="info-footer-gp">
              <a href="http://www.gamepower7.com/"><%= image_tag "GP7.png", alt: "GamePower7" %></a>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-copy">
        <h6>جميع الحقوق محفوظة لـ BitCode &copy; 2015</h6>
      </div>
    </div>
  </div>

</div>
